body{
 font-style: arial;
 background: black;
}
.animationbox{
    width: 75%;
    height: 27.5rem;
    margin: 0 auto;
    overflow: hidden;
    position: relative;}


.firsttext{
    font-size: 2rem;
    color: white;
    text-align: center;
    position: absolute;
    opacity: 0;
    left: 2.5rem;
    top: 5rem;
    animation: HAPPY_MONTH_ANNIVERSARYBABY1;
    animation-duration: 5s;
    animation-delay: 2s;
}
.secondtext{
    font-size: 2rem;
    color: white;
    text-align: center;
    position: absolute;
    opacity: 0;
    top: 5rem;
    animation: HAPPY_MONTH_ANNIVERSARYBABY2;
    animation-duration: 5s;
    animation-delay: 5s;
}
.thirdtext{
    font-size: 2.0rem;
    color: white;
    text-align: center;
    position: absolute;
    opacity: 0;
    left: 30%;
    top: 45%;
    animation: HAPPY_MONTH_ANNIVERSARYBABY3;
    animation-duration: 5s;
    animation-delay: 5s;   
}
.fourttext{
    font-size: 2rem;
    color: white;
    text-align: center;
    position: absolute;
    opacity: 0;
    left: 10%;
    top: 10rem; 
    animation: HAPPY_MONTH_ANNIVERSARYBABY4;
    animation-duration: 7s;
    animation-delay: 7s;
}
.fifthtext{
    font-size: 3.3rem;
    color: white;
    
    position: absolute;
    left: 5%;
    bottom: 25%;
    opacity: 0;
    animation: HAPPY_MONTH_ANNIVERSARYBABY5;
    animation-duration: 5s;
    animation-delay: 12s;
}
.sixthtext{
    font-size: 2.2rem;
    color: white;
    text-align: center;
    position: absolute;
    opacity: 0;
    left: 2.5rem;
    top: 5rem;
    animation: HAPPY_MONTH_ANNIVERSARYBABY6;
    animation-duration: 15s;
    animation-delay: 15s;
}

.sixentext{
    font-size: 4rem;
    color: pink;
    text-align: center;
    position: absolute;
    opacity: 0;
    left: 2.5;
    top: 5rem;
    animation: HAPPY_MONTH_ANNIVERSARY7;
    animation-duration: 20s;
    animation-delay: 20S;
}


@keyframes HAPPY_MONTH_ANNIVERSARYBABY1 {
    0%{
        top: -3rem;
        opacity: 0;
    }
    75%{
        top: 25%;
        opacity: 1;
    }
    100%{
        opacity: 0;
    }

}
@keyframes HAPPY_MONTH_ANNIVERSARYBABY2 {
    0%{
        top: -3rem;
        opacity: 0;
    }
    75%{
        top: 45%;
        opacity: 1;
    }
    100%{
        opacity: 0;
    }

}
@keyframes HAPPY_MONTH_ANNIVERSARYBABY3 {
    0%{
        top: 3rem;
        opacity: 0;
    }
    75%{
        top: 45rem;;
        opacity: 1;
    }
    100%{
        right: 10rem;
        opacity: 0;
    }

}
@keyframes HAPPY_MONTH_ANNIVERSARYBABY4 {


    0%{
        top: -3rem;
        opacity: 0;
    }
    75%{
        top: 25%;
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
@keyframes HAPPY_MONTH_ANNIVERSARYBABY5 {
    0%{
        top: -3rem;
        opacity: 0;
    }
    75%{
        top: 25%;
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
@keyframes HAPPY_MONTH_ANNIVERSARYBABY6 {
    0%{
        top: -3rem;
        opacity: 0;
    }
    75%{
        top: 25%;
        opacity: 1;
    }
    100%{
        opacity: 0;}
    }
    @keyframes HAPPY_MONTH_ANNIVERSARY7 {
    0%{
        top: -3rem;
        opacity: 0;
    }
    75%{
        top: 25%;
        opacity: 1;
    }
    100%{
        opacity: 0;}
    }